{% extends "base.html" %}
{% block content3 %}"../media/{{ user.image }}"{% endblock content3 %}
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">

        <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    </head>
    <div class="container panel panel-default panel-info" style="background-color:rgba(0,0,0,0);
        border-radius:0px;width:75%; min-width:min-content;margin-bottom: 8%;">
        <div class="row" style="margin:10px;">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default panel-info Profile" style="background-color:rgba(0,0,0,0);">
                                <div class="panel-body" >
                                    <div style="background-color:rgba(0,0,0,0);">
                                        <div id="profile__img">
                                            <img src="{{ user.image.url }}" alt="" width="200px" height="200px">
                                        </div>
                                        <p class='text-muted'>
                                        <ul class="list-group" style="text-align:center;margin-top: 15px; background-color:rgba(0,0,0,0);">
                                            <li class="list-group-item list-group-item-light"
                                                style="border:none;background-color:rgba(0,0,0,0);">
                                                <div class="profile-name">{{ user.first_name }} {{ user.last_name }}</div>
                                            </li>
                                            <li class="list-group-item list-group-item-light"
                                                style="background-color:rgba(0,0,0,0);">
                                                Email: {{ user.email }}
                                            </li>
                                            <li class="list-group-item list-group-item-light"
                                                style="background-color:rgba(0,0,0,0);">
                                                Mobile: {{ user.mobile }}
                                            </li>
                                            <li class="list-group-item list-group-item-light"
                                                style="background-color:rgba(0,0,0,0);">
                                                College: {{ user.college }}
                                            </li>
                                            <li class="list-group-item list-group-item-light"
                                                style="margin-top:25px;border:none;background-color:rgba(0,0,0,0);text-align: center">
                                                <a id='update-profile-button'style="padding: 10px"
                                                   class="formButton"
                                                   href="{% url 'accounts:update-profile' user.id %}">
                                                    <i class="fa fa-user"></i>
                                                    Update Profile
                                                </a>
                                            </li>
                                        </ul>
                                        </p>
                                    </div>
                                </div> <!-- end panel-body -->
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="tabs" style="margin:3% auto;">
                                <ul>
                                    <li class="signup-tab" style="width: 50%"><a class="active" href="#signup-tab-content">Uploads</a></li>
                                    <li class="login-tab" style="width: 50%"><a href="#login-tab-content">Likes</a></li>
                                </ul>
                            </div>
                            <div class="tabs-content">
                                <div id="signup-tab-content" class="active">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#uploaded-notes">Notes</a></li>
                                            <li><a href="#uploaded-papers">Previous year papers</a></li>
                                            <li><a href="#uploaded-books">Books</a></li>
                                          </ul>
                                        <div class="tab-content">
                                            <div id="uploaded-notes" class="tab-pane fade in active">
                                            {%  if user_has_uploaded_notes %}
                                              <table class="table table-striped dt-responsive table-responsive-md" id="display_table">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Title</th>
                                                    <th scope="col">Subject</th>
                                                    <th scope="col">Likes</th>
                                                    <th scope="col">Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for i in uploaded_notes %}
                                                    <tr>
                                                        <td style="vertical-align:middle">
                                                            <a style="font-weight: bold"
                                                               href="/content/view/{{ i.note_id }}">{{ i.title }}</a>
                                                            <br>
                                                            <span class="ref"> - contributed by <b>you</b></span>
                                                        </td>
                                                        <td style="vertical-align:middle"><span>{{ i.subject }}</span></td>

                                                        {% if  i.is_approved %}
                                                            <td style="vertical-align:middle">
                                                                <div class="like_grow" id="{{ i.note_id }}">
                                                                    <i id="{{ i.note_id }}1"
                                                                       class="fa fa-thumbs-up fa-2x like active"
                                                                       aria-hidden="true"></i>
                                                                </div>
                                                                <span class="likes_counter"
                                                                      style="font-family:'Amaranth', sans-serif;"
                                                                      id="{{ i.note_id }}2">
                                                {{ i.total_upvotes }}
                                            </span>
                                                            </td>
                                                            <td style="color:green ; vertical-align:middle">
                                                                <div class="info info-success">Approved</div>
                                                            </td>
                                                        {% else %}
                                                            <td style="color:red ; vertical-align:middle">
                                                                <div class="info info-failure">N/A</div>
                                                            </td>
                                                            <td style="color:blue; vertical-align:middle">
                                                                <div class="info info-waiting">Approval Pending</div>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            {% else %}
                                                <h5>You have not contributed notes yet.</h5>
                                            {% endif %}

                                            </div>
                                            <div id="uploaded-papers" class="tab-pane fade">
                                                {%  if user_has_uploaded_papers %}
                                                    <table class="table table-striped dt-responsive table-responsive-md" id="display_table">
                                                        <thead class="thead-dark">
                                                        <tr>
                                                            <th scope="col">Title</th>
                                                            <th scope="col">Batch year</th>
                                                            <th scope="col">Subject</th>
                                                            <th scope="col">Semester</th>
                                                            <th scope="col">Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for i in uploaded_papers %}
                                                            <tr>
                                                                <td style="vertical-align:middle"><a style="font-weight: bold"
                                                                                                     href="/content/view/{{ i.paper_id }}">{{ i.title }}</a>
                                                                    <br>
                                                                    <span class="ref"> - contributed by <b>you</b></span>
                                                                </td>
                                                                <td style="vertical-align:middle"><span>{{ i.batch_year }}</span></td>
                                                                <td style="vertical-align:middle"><span>{{ i.subject }}</span></td>
                                                                <td style="vertical-align:middle"><span>{{ i.semester }}</span></td>
                                                                {% if  i.is_approved %}
    {#                                                                <td style="vertical-align:middle">#}
    {#                                                                    <div class="like_grow" id="{{ i.note_id }}">#}
    {#                                                                        <i id="{{ i.note_id }}1"#}
    {#                                                                           class="fa fa-thumbs-up fa-2x like active"#}
    {#                                                                           aria-hidden="true"></i>#}
    {#                                                                    </div>#}
    {#                                                                    <span class="likes_counter"#}
    {#                                                                          style="font-family:'Amaranth', sans-serif;"#}
    {#                                                                          id="{{ i.note_id }}2">#}
    {#                                                                        {{ i.total_upvotes }}#}
    {#                                                                    </span>#}
    {#                                                                </td>#}
                                                                    <td style="color:green ; vertical-align:middle">
                                                                        <div class="info info-success">Approved</div>
                                                                    </td>
                                                                {% else %}
    {#                                                                <td style="color:red ; vertical-align:middle">#}
    {#                                                                    <div class="info info-failure">N/A</div>#}
    {#                                                                </td>#}
                                                                    <td style="color:blue; vertical-align:middle">
                                                                        <div class="info info-waiting">Approval Pending</div>
                                                                    </td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% else %}
                                                    <h5>You have not contributed exam papers yet.</h5>
                                                {% endif %}
                                            </div>
                                            <div id="uploaded-books" class="tab-pane fade">
                                              {%  if user_has_uploaded_books %}
                                              <table class="table table-striped dt-responsive table-responsive-md" id="display_table">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Title</th>
                                                    <th scope="col">Subject</th>
                                                    <th scope="col">Author</th>
                                                    <th scope="col">College</th>
                                                    <th scope="col">Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for i in uploaded_books %}
                                                    <tr>
                                                        <td style="vertical-align:middle">
                                                            <a style="font-weight: bold"
                                                               href="/content/view/{{ i.book_id }}">{{ i.title }}</a>
                                                            <br>
                                                            <span class="ref"> - contributed by <b>you</b></span>
                                                        </td>
                                                        <td style="vertical-align:middle"><span>{{ i.subject }}</span></td>
                                                        <td style="vertical-align:middle"><span>{{ i.author }}</span></td>
                                                        <td style="vertical-align:middle"><span>{{ i.college }}</span></td>
                                                        {% if  i.is_approved %}
                                                         <td style="color:green ; vertical-align:middle">
                                                                <div class="info info-success">Approved</div>
                                                            </td>
                                                        {% else %}
                                                            <td style="color:blue; vertical-align:middle">
                                                                <div class="info info-waiting">Approval Pending</div>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            {% else %}
                                                <h5>You have not contributed books yet.</h5>
                                            {% endif %}
                                            </div>
                                          </div>
                                </div>
                                <div id="login-tab-content">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#liked-notes">Notes</a></li>
{#                                        <li><a href="#liked-papers">Previous year papers</a></li>#}
{#                                        <li><a href="#liked-books">Books</a></li>#}
                                    </ul>
{#                                    <div class="tab-content">#}
{#                                        <div id="liked-notes" class="tab-pane fade in active">#}
                                        {%  if user_has_liked_notes %}
                                          <table class="table table-striped dt-responsive table-responsive-md" id="display_table">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Title</th>
                                                <th scope="col">Subject</th>
                                                <th scope="col">Likes</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in liked_notes %}
                                                <tr>
                                                    <td style="vertical-align:middle"><a style="font-weight: bold"
                                                                                         href="/content/view/{{ i.note_id }}">{{ i.title }}</a>
                                                        <br>
                                                        <span class="ref"> - contributed by <b>you</b></span>
                                                    </td>
                                                    <td style="vertical-align:middle"><span>{{ i.subject }}</span></td>

                                                    <td style="vertical-align:middle">
                                                        <div class="like_grow" id="{{ i.note_id }}"
                                                             onclick="updateVote( this.id )">
                                                            <i id="{{ i.note_id }}1"
                                                               class="fa fa-thumbs-up fa-2x like active"
                                                               aria-hidden="true"></i>
                                                        </div>
                                                        <span class="likes_counter" style="font-family:'Amaranth'"
                                                              id="{{ i.note_id }}2">
                                                            {{ i.total_upvotes }}
                                                        </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        {% else %}
                                            <h5>You have no liked notes.</h5>
                                        {% endif %}
                                </div><!--.login-tab-content-->
                            </div><!--.tabs-content-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function ($) {
            tab = $('.tabs ul li a');

            tab.on('click', function (event) {
                event.preventDefault();
                tab.removeClass('active');
                $(this).addClass('active');

                tab_content = $(this).attr('href');
                $('div[id$="tab-content"]').removeClass('active');
                $(tab_content).addClass('active');
            });
        });
        $(document).ready(function () {
            $('table.table').DataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "aaSorting": [],
                "bAutoWidth": false,
            });
        });

        function updateVote(note_id) {
            console.log("note id value: " + note_id);

            $.ajax({
                url: "/content/upvote/",
                type: "POST",
                {#async: true,#}
                data: {'noteid': note_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                {#dataType: "json",#}
                success: function (data) {
                    if (data[0]) {
                        document.getElementById(data[1] + "2").innerHTML = parseInt(document.getElementById(data[1] + "2").innerHTML) - 1;
                        document.getElementById(data[1] + "1").classList.remove("active");
                        {#document.getElementById(data[1] + "3").classList.remove("active");#}
                    } else {
                        document.getElementById(data[1] + "1").classList.add("active");
                        {#document.getElementById(data[1] + "3").classList.rekmove("active");#}
                        document.getElementById(data[1] + "2").innerHTML = parseInt(document.getElementById(data[1] + "2").innerHTML) + 1;
                    }
                }
            });
        }
        {#tabs#}
        $(document).ready(function(){
          $(".nav-tabs a").click(function(){
            $(this).tab('show');
          });
        });
    </script>
{% endblock %}