{% extends "base.html" %}
{% block content3 %}"../media/{{ user.image }}"{% endblock content3 %}
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">

        <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    </head>
    <div class="container panel panel-default panel-info" style="min-width:min-content;margin-bottom: 8%;">
        <div class="row" style="margin:10px">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default panel-info Profile">
                                <div class="panel-heading"> Profile</div>
                                <div class="panel-body">
                                    <div>
                                        <div id="profile__img">
                                            <img src="{{ user.image.url }}" alt="" width="165px" height="160px">
                                        </div>
                                        <p class='text-muted'>
                                        <ul class="list-group" style="margin-top: 35px">
                                            <li class="list-group-item list-group-item-light">
                                                Name: {{ user.name }}
                                            </li>
                                            <li class="list-group-item list-group-item-light">
                                                Email: {{ user.email }}
                                            </li>
                                            <li class="list-group-item list-group-item-light">
                                                Mobile: {{ user.mobile }}
                                            </li>
                                            <li class="list-group-item list-group-item-light">
                                                Registration number: {{ user.registration_number }}
                                            </li>
                                            <li class="list-group-item list-group-item-light">
                                                <a style="width: fit-content"
                                                   class="btn btn-md bg-blue-active btn-social btn-block"
                                                   href="{% url 'accounts:update-profile' user.id %}">
                                                    <i class="fa fa-user"></i>
                                                    Update Profile
                                                </a>
                                            </li>
                                        </ul>
                                        </p>
                                    </div>
                                </div> <!-- end panel-body -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tabs">
                                <h3 class="signup-tab"><a class="active" href="#signup-tab-content">Notes Uploaded by
                                    You</a></h3>
                                <h3 class="login-tab"><a href="#login-tab-content">Notes Liked by
                                    You</a></h3>
                            </div>
                            <div class="tabs-content">
                                <div id="signup-tab-content" class="active">
                            <table class="table table-striped table-responsive-md" id="example">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Rating</th>
                                    <th scope="col">Status</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for i in data %}
                                    <tr>
                                        <td style="vertical-align:middle"><a style="font-weight: bold"
                                                                             href="/content/view/{{ i.note_id }}">{{ i.title }}</a>
                                            <br>
                                            <span class="ref"> - contributed by <b>you</b></span>
                                        </td>
                                        <td style="vertical-align:middle"><span>{{ i.subject }}</span></td>

                                        {% if  i.is_approved %}
                                            <td style="vertical-align:middle">
                                                <div class="like_grow" id="{{ i.note_id }}">
                                                    <i id="{{ i.note_id }}1" class="fa fa-thumbs-up fa-2x like active"
                                                       aria-hidden="true"></i>
                                                </div>
                                                <span class="likes_counter" style="font-family:'Amaranth', sans-serif;"
                                                      id="{{ i.note_id }}2">
                                        {{ i.total_upvotes }}
                                    </span>
                                            </td>
                                            <td style="color:green ; vertical-align:middle">
                                                <div class="info info-success">Approved</div>
                                            </td>
                                        {% else %}
                                            <td style="color:red ; vertical-align:middle">
                                                <div class="info info-failure">N/A</div>
                                            </td>
                                            <td style="color:blue; vertical-align:middle">
                                                <div class="info info-waiting">Approval Pending</div>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                                </div>
                                <div id="login-tab-content">
                            <table class="table table-striped table-responsive-md" id="example">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Rating</th>
                                    {% if user.is_authenticated and user.is_superuser %}
                                        <th scope="col">Actions</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for i, j, k in data1 %}
                                    {% if  user.is_authenticated and user.is_superuser or i.is_approved %}
                                        <tr>

                                            <td style="vertical-align:middle"><a style="font-weight: bold"
                                                                                 href="/content/view/{{ i.note_id }}">{{ i.title }}</a>
                                                <br>
                                                <span class="ref"> - contributed by <b>{{ k }}</b></span>
                                            </td>
                                            <td style="vertical-align:middle"><span>{{ i.subject }}</span></td>
                                            {#                    href = {% url 'upvote/ i.note_id / user.id ' %}#}
                                            {% if  j %}
                                                <td style="vertical-align:middle">
                                                    <div class="like_grow" id="{{ i.note_id }}"
                                                         onclick="updateVote( this.id )">
                                                        <i id="{{ i.note_id }}1"
                                                           class="fa fa-thumbs-up fa-2x like active"
                                                           aria-hidden="true"></i>
                                                    </div>
                                                    <span class="likes_counter" style="font-family:'Amaranth'"
                                                          id="{{ i.note_id }}2">
                                                {{ i.total_upvotes }}
                                            </span>
                                                </td>
                                            {% else %}
                                                <td style="vertical-align:middle">
                                                    <div class="like_grow" id="{{ i.note_id }}"
                                                         onclick="updateVote( this.id )">
                                                        <i id="{{ i.note_id }}1" class="fa fa-thumbs-up fa-2x like"
                                                           aria-hidden="true"></i>
                                                    </div>
                                                    <span class="likes_counter" style="font-family:'Amaranth'"
                                                          id="{{ i.note_id }}2">
                                            {{ i.total_upvotes }}
                                        </span>
                                                </td>
                                            {% endif %}
                                            {% if user.is_authenticated and user.is_superuser %}
                                                <td scope="col">
                                                    {% if  i.is_approved %}
                                                        <a class="btn">Approved</a>
                                                    {% else %}
                                                        <a href="../approvenote/{{ i.note_id }}" class="btn btn-danger">Approve</a>
                                                    {% endif %}
                                                    <a href="../deletenote/{{ i.note_id }}" class="btn btn-danger">Remove</a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                                </div><!--.login-tab-content-->
                            </div><!--.tabs-content-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function ($) {
            tab = $('.tabs h3 a');

            tab.on('click', function (event) {
                event.preventDefault();
                tab.removeClass('active');
                $(this).addClass('active');

                tab_content = $(this).attr('href');
                $('div[id$="tab-content"]').removeClass('active');
                $(tab_content).addClass('active');
            });
        });
        $(document).ready(function () {
            $('table.table').DataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "aaSorting": [],
                "bAutoWidth": false,
            });
        });

        function updateVote(note_id) {
            console.log("note id value: " + note_id);

            $.ajax({
                url: "/content/upvote/",
                type: "POST",
                {#async: true,#}
                data: {'noteid': note_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                {#dataType: "json",#}
                success: function (data) {
                    if (data[0]) {
                        document.getElementById(data[1] + "2").innerHTML = parseInt(document.getElementById(data[1] + "2").innerHTML) - 1;
                        document.getElementById(data[1] + "1").classList.remove("active");
                        {#document.getElementById(data[1] + "3").classList.remove("active");#}
                    } else {
                        document.getElementById(data[1] + "1").classList.add("active");
                        {#document.getElementById(data[1] + "3").classList.rekmove("active");#}
                        document.getElementById(data[1] + "2").innerHTML = parseInt(document.getElementById(data[1] + "2").innerHTML) + 1;
                    }
                }
            });
        }

    </script>
{% endblock %}