{% extends 'base.html' %}
{% block title %}Home NIT ADDA{% endblock title %}
{% load static %}
{% block content3 %}"../media/{{ user.image }}"{% endblock content3 %}
{% block content %}
    <div class="container-fluid" style="min-height:10%;max-width:70%;margin-bottom: 8%;background: white">
        <caption><h3 class="table_title">Subject : {{ message.subject }}</h3></caption>
        <div class="">
            <span class="inbox-info">From : {{ message.sender_name }}</span><br>
            <span class="inbox-info">Email : {{ message.email }}</span><br>
            <span class="inbox-info">Phone : {{ message.phone }}</span><br>
        </div>
        <div class="inbox-message">
            {{ message.message }}
        </div>
    </div>
    {# Main Section #}
{% endblock content %}