{% extends 'base.html' %}
{% block title %}Home NIT ADDA{% endblock title %}
{% load static %}
{% block content %}
    <head>
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body onload="init()">
    <div class="row main_header">
        <!-- <center><h2><b>Registration</b></h2></center>
         <br>-->
    </div>

    <div class="container" style="min-width:min-content;margin-bottom: 8%">

        <div class=" md-3" style="margin-top:2%;">

            <div class=" sm-3 ">
                <div id="uploadForm" class="well well-lg">
                    <form method="POST" action="/content/add_course" enctype="multipart/form-data"
                          onsubmit="return validateForm();">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="formText">Course Title</label>
                            <input class="form-control" name="title" id="fn" required>
                        </div>
                        <div class="form-group">
                            <label class="formText">Course Duration (in years)</label>
                            <input class="form-control" name="duration" id="duration" required>
                        </div>
                        <div class="form-group">
                            <label class="formText">No. of semesters</label>
                            <input class="form-control" name="no_of_sem" id="no_of_sem" required>
                        </div>
                        <center>
                            <button type="submit" id="btn"  class="formButton" >Add</button>
                        </center>
                    </form>
                    <br>

                </div>
            </div>
        </div>
    </div>

    </body>

    {# Main Section #}
{% endblock content %}
