{% extends 'base.html' %}
{% block title %}Home NIT ADDA{% endblock title %}
{% load static %}
{% block content3 %}"../media/{{ user.image }}"{% endblock content3 %}
{% block content %}
    <head xmlns:scrolling="http://www.w3.org/1999/xhtml">
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body >
    <div class="row main_header">
        <!-- <center><h2><b>Registration</b></h2></center>
<br>-->
    </div>

    <div class="container" style="margin-bottom: 50px">
        <h3>{{ this_blog.title}}</h3>
        <div class=" md-3" style="margin-top:0.5%;">
{#            <iframe src="../../media/{{ this_blog.note_pdf }}#view=FitH&toolbar=0&navpanes=0" frameborder="0" scrolling: "no" style="-webkit-overflow-scrolling: auto;;width: 100%; height: 85%;"></iframe>#}
            <p>{{ this_blog.description}}</p>
        </div>
        <div id="post-options" style="display: table-row; left: 50px;">
            <div style="margin-top: 25%; display: table-cell;">
                <a style="padding: 10px; width: 40px"
                   class="formButton"
                   data-toggle="modal" data-target="#myReportModal"
                   href="#">
                    <i class="fa fa-exclamation-circle"></i> Report post
                </a>
            </div>
            <div class="modal fade" id="myReportModal" role="dialog">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content ">
                      <form method="POST" action="/content/report/{{ this_blog.id }}" enctype="multipart/form-data">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">
                        <caption><h3 class="table_title" style="color: #232323;">Report this post</h3></caption>
                        </h4>
                    </div>
                    <div class="modal-body">

                        <label class="formText" for="subject">Instruction</label>
                        <ul>
                            <li>First</li>
                            <li>First</li>
                            <li>First</li>
                        </ul>
                       {% csrf_token %}
                                <div class="form-group">
                                    <label class="formText" for="subject">Subject</label>
                                    <input class="form-control" name="subject" id="subject" required>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="message">Description</label>
                                    <textarea rows="6" cols="30" class="form-control" name="message" id="message"
                                              required></textarea>
                                </div>
                            <br>
                    </div>
                    <div class="modal-footer">
                      <center>
                            <button type="submit" id="btn" class="formButton">Report</button>
                        </center>
                    </div>
                      </form>
                  </div>
                </div>
            </div>
            <div style="display: table-cell; text-align: right;width: 100%">
                {%  if user_has_liked %}
                    <div class="like_grow" id="{{ this_blog.id }}"
                         onclick="updateVote( this.id )">
                        <i id="{{ this_blog.id }}1"
                           class="fa fa-thumbs-up fa-2x like active"
                           aria-hidden="true"></i>
                    </div>
                {% else %}
                    <div class="like_grow" id="{{ this_blog.id }}"
                         onclick="updateVote( this.id )">
                        <i id="{{ this_blog.id }}1" class="fa fa-thumbs-up fa-2x like"
                           aria-hidden="true"></i>
                    </div>
                {% endif %}
                <span class="likes_counter" style="font-family:'Amaranth'"
                      id="{{ this_blog.id }}2">
                    {{ this_blog.total_upvotes }}
                </span>
            </div>
        </div>

    </div>

    </body>

    <script>
        function updateVote(id) {
            console.log("note id value: " + id);

            $.ajax({
                url: "/content/upvote/",
                type: "POST",
                {#async: true,#}
                data: {'noteid': id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                {#dataType: "json",#}
                success: function (data) {
                    if (data[0]) {
                        document.getElementById(data[1] + "2").innerHTML = parseInt(document.getElementById(data[1] + "2").innerHTML) - 1;
                        document.getElementById(data[1] + "1").classList.remove("active");
                        $('#dislike').show();
                        {#document.getElementById(data[1] + "3").classList.remove("active");#}
                    } else {
                        document.getElementById(data[1] + "1").classList.add("active");
                        $('#like').show();
                        {#document.getElementById(data[1] + "3").classList.rekmove("active");#}
                        document.getElementById(data[1] + "2").innerHTML = parseInt(document.getElementById(data[1] + "2").innerHTML) + 1;
                    }
                    setTimeout(function () {
                        $('.message_container').fadeOut('slow');
                    }, 3000);
                }
            });
        }

    </script>
{% endblock content %}
