{% extends 'base.html' %}
{% block title %}Home NIT ADDA{% endblock title %}
{% load static %}
{% block content3 %}"../media/{{ user.image }}"{%  endblock content3 %}
{% block content %}
    <head>
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $('select#selectCourse1').change(function () {
                    let optionSelected = $(this).find("option:selected");
                    {#let valueSelected  = optionSelected.val();#}
                    let course_name = optionSelected.text();
                    console.log("Course selected is :", course_name);
                    $.ajax({
                        url: "/content/getSubjects/",
                        type: "POST",
                        data: {'cn': course_name},
                        success: function (sub) {
                            console.log("ha bhai11");
                            $("#selectSubject1 option").remove();
                            $("#selectSubject1").append("<option selected disabled>Choose subject</option>");
                            for (var i = sub.length - 1; i >= 0; i--) {
                                {
                                    console.log(sub[i].id + "   ");
                                }
                                $("#selectSubject1").append("<option value=" + sub[i].id + ">" + sub[i].title + "</option>");
                            }
                        }
                    });
                });
            })
            $(document).ready(function () {
                $('select#selectCourse3').change(function () {
                    let optionSelected = $(this).find("option:selected");
                    {#let valueSelected  = optionSelected.val();#}
                    let course_name = optionSelected.text();
                    console.log("Course selected is :", course_name);
                    $.ajax({
                        url: "/content/getSubjects/",
                        type: "POST",
                        data: {'cn': course_name},
                        success: function (sub) {
                            console.log("ha bhai11");
                            $("#selectSubject3 option").remove();
                            $("#selectSubject3").append("<option selected disabled>Choose subject</option>");
                            for (var i = sub.length - 1; i >= 0; i--) {
                                {
                                    console.log(sub[i].id + "   ");
                                }
                                $("#selectSubject3").append("<option value=" + sub[i].id + ">" + sub[i].title + "</option>");
                            }
                        }
                    });
                });
            });

             $(document).ready(function () {
                $('select#selectUploadType').change(function () {
                    let optionSelected = $(this).find("option:selected");
                    let type = optionSelected.text();

                    let A = document.getElementById("book_type");
                    let B = document.getElementById("book-submit-button");

                    if(A != null)
                        A.remove();
                    if(B != null)
                        B.remove();

                    let book_upload_type = document.getElementById("upload_type_checker");

                    let book_form = document.getElementById("book_form");
                    console.log("Upload type selected is :", type);
                    let fileTag = document.createElement("div");
                    fileTag.setAttribute("class", "form-group");
                    fileTag.setAttribute("id", "book_type");

                    if(type == "Link to buy") {
                        fileTag.innerHTML = "<label class=\"formText\">Paste link (URL)</label>\n"+
                                    "<input class=\"form-control\" name=\"link\" id=\"upload_book\" required>";
                        book_form.append(fileTag);
                        book_upload_type.setAttribute("value", "link")

                    }
                    else{
                        fileTag.innerHTML = "<label class=\"formText\">Select File</label>\n" +
                                    "<input class=\"form-control\" type=\"File\" name=\"file\" id=\"upload_book\"\n" +
                            "                                           required>";
                        book_form.append(fileTag);
                        book_upload_type.setAttribute("value", "pdf")

                    }
                    let btnTag = document.createElement("CENTER");
                    btnTag.innerHTML = "<button type=\"submit\" id=\"book-submit-button\" class=\"formButton\">Upload</button>"
                    book_form.append(btnTag);
                });
            });

            $(document).ready(function () {
                $('select#selectCourse2').change(function () {
                    let optionSelected = $(this).find("option:selected");
                    {#let valueSelected  = optionSelected.val();#}
                    let course_name = optionSelected.text();
                    console.log("Course selected is :", course_name);
                    $.ajax({
                        url: "/content/getSubjects/",
                        type: "POST",
                        data: {'cn': course_name},
                        success: function (subjects) {
                            console.log("ha bhai2");
                            $("#selectSubject2 option").remove();
                            $("#selectSubject2").append("<option selected disabled>Choose subject</option>");
                            for (var i = subjects.length - 1; i >= 0; i--) {
                                console.log(subjects[i].title + "   ");
                                $("#selectSubject2").append("<option value=" + subjects[i].id + ">" + subjects[i].title + "</option>");
                            }
                        }
                    });
                    $.ajax({
                        url: "/content/getCourseDuration/",
                        type: "POST",
                        data: {'cn': course_name},
                        success: function (duration) {
                            console.log("ha bhai3");
                            $("#selectBatch option").remove();
                            $("#selectBatch").append("<option selected disabled>Choose Batch</option>");
                            let starting_year = 2006;
                            let current_year = 2020;
                            for (let i = starting_year; i <= current_year; i++) {
                                console.log(i+ "  ");
                                let j = i+duration;
                                $("#selectBatch").append("<option value="+i+">" + i +" - "+ j + "</option>");

                            }

                            let no_of_sem = duration*2;
                            $("#selectSemester option").remove();
                            $("#selectSemester").append("<option selected disabled>Choose semester</option>");
                            for (let i = 1; i <= no_of_sem; i++) {
                                console.log(i+ "  ");
                                $("#selectSemester").append("<option value="+i+">" + i + "</option>");
                            }

                        }
                    });
                });
            });
        </script>
    </head>
    <body>
    {% if messages %}
        {% for mes in messages %}
            <div class="alert alert-success message_container">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ mes }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container" style="min-width:min-content;margin-bottom: 8%">
        <div class=" md-3" style="margin-top:3%;">
            <div class="sm-3 ">
                <div id="uploadForm" class="well well-lg">
                    <div class="tabs">
                        <ul>
                        <li class="signup-tab"><a class="active" href="#signup-tab-content">Upload Notes</a></li>
                        <li class="login-tab"><a href="#login-tab-content">Upload Papers</a></li>
                        <li class="login1-tab"><a href="#login1-tab-content">Upload Books</a></li>
                        </ul>
                    </div>
                    <div class="tabs-content">
                        <div id="signup-tab-content" class="active">
                            <form method="POST" action="/content/upload/" enctype="multipart/form-data"
                                  onsubmit="return validateForm();">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="hidden" name="content_type" id="checker" value="note">
                                    <label class="formText" for="nt">Note Title</label>
                                    <input for="firstName" class="form-control" name="title" id="nt" required>
                                </div>

                                <div class="form-group">
                                    <label class="formText" for="selectCourse1">Select College</label>
                                    <select class="form-control" id="selectCollege1" name="colleges" required>
                                        <option selected disabled>Choose college</option>
                                        {% for college in colleges %}
                                            <option value="{{ college.id }}">
                                                {{ college.name }}, ({{ college.abbreviation }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="formText" for="selectCourse1">Select Course</label>
                                    <select class="form-control" id="selectCourse1" name="courses" required>
                                        <option selected disabled>Choose course</option>
                                        {% for course in courses %}
                                            <option value="{{ course.id }}">
                                                {{ course.title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="selectSubject1">Select Subject</label>
                                    <select class="form-control" id="selectSubject1" name="subjects" required>
                                        <option selected disabled>Choose subject</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="lastName">Select File</label>
                                    <input for="lastName" class="form-control" type="File" name="files" id="upload"
                                           required>
                                </div>
                                <center>
                                    <button type="submit" id="btn" class="formButton">Upload</button>
                                </center>
                            </form>
                        </div>
                        <div id="login-tab-content">
                            <form method="POST" action="/content/upload/" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="formText" for="selectCourse1">Select College</label>
                                    <select class="form-control" id="selectCollege2" name="colleges" required>
                                        <option selected disabled>Choose college</option>
                                        {% for college in colleges %}
                                            <option value="{{ college.id }}">
                                                {{ college.name }}, ({{ college.abbreviation }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="content_type" id="checker" value="paper">
                                    <label class="formText" for="">Select Course</label>
                                    <select class="form-control" id="selectCourse2" name="courses" required>
                                        <option selected disabled>Choose course</option>
                                        {% for course in courses %}
                                            <option value="{{ course.id }}">
                                                {{ course.title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="selectSubject2">Select Subject</label>
                                    <select class="form-control" id="selectSubject2" name="subjects2" required>
                                        <option selected disabled>Choose subject</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="selectBatch">Select Batch year</label>
                                    <select class="form-control" id="selectBatch" name="batch" required>
                                        <option selected disabled>Choose Batch year</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="">Select Semester</label>
                                    <select class="form-control" id="selectSemester" name="semesters" required>
                                        <option selected disabled>Choose Semester</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="">Select Exam</label>
                                    <select class="form-control" id="selectExam" name="exams" required>
                                        <option selected disabled>Choose Exam</option>
                                        <option value="Minor-1">Minor-1</option>
                                        <option value="Minor-2">Minor-2</option>
                                        <option value="Mid-semester">Mid-sem</option>
                                        <option value="End-semester">End-sem</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="formText">Select Exam type</label>
                                    <select class="form-control" id="selectExamType" name="types" required>
                                        <option selected disabled>Choose Type</option>
                                        <option value='T'>Theory</option>
                                        <option value='P'>Practical</option>
                                    </select>
{#                                    <label class="formText" for="theory">Theory#}
{#                                        <input type="radio" name="type" id="theory" value="Theory" checked>#}
{#                                    </label>#}
{##}
{#                                    <label class="formText" for="practical">Practical#}
{#                                        <input type="radio" name="type" id="practical" value="Practical" >#}
{#                                    </label>#}
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="">Select File</label>
                                    <input class="form-control" type="File" name="files" id="upload"
                                           required>
                                </div>
                                <center>
                                    <button type="submit" id="btn" class="formButton">Upload</button>
                                </center>
                            </form>
                        </div>
                        <div id="login1-tab-content">
                            <form id="book_form" method="POST" action="/content/upload/" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="hidden" name="content_type" id="checker" value="note">
                                    <label class="formText" for="book_title">Book Title</label>
                                    <input for="firstName" class="form-control" name="title" id="book_title" required>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="content_type" id="checker" value="note">
                                    <label class="formText" for="book_author">Book Author</label>
                                    <input for="firstName" class="form-control" name="author" id="book_author" required>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="selectCollege1">Select College</label>
                                    <select class="form-control" id="selectCollege1" name="colleges" required>
                                        <option selected disabled>Choose college</option>
                                        {% for college in colleges %}
                                            <option value="{{ college.id }}">
                                                {{ college.name }}, ({{ college.abbreviation }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="content_type" id="checker" value="book">
                                    <label class="formText" for="">Select Course</label>
                                    <select class="form-control" id="selectCourse3" name="courses" required>
                                        <option selected disabled>Choose course</option>
                                        {% for course in courses %}
                                            <option value="{{ course.id }}">
                                                {{ course.title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="book_upload_type" id="upload_type_checker" value=" ">
                                    <label class="formText" for="selectSubject3">Select Subject</label>
                                    <select class="form-control" id="selectSubject3" name="subjects" required>
                                        <option selected disabled>Choose subject</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="formText" for="selectUploadType">Select Upload type</label>
                                    <select class="form-control" id="selectUploadType" name="book_upload_type" required>
                                        <option value=" " selected disabled>Choose form</option>
                                        <option value="L">Link to buy</option>
                                        <option value="P">PDF</option>
                                    </select>
                                </div>

                                <center>
                                    <button type="submit" id="book-submit-button" class="formButton">Upload</button>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function ($) {
            tab = $('.tabs ul li a');

            tab.on('click', function (event) {
                event.preventDefault();
                tab.removeClass('active');
                $(this).addClass('active');

                tab_content = $(this).attr('href');
                $('div[id$="tab-content"]').removeClass('active');
                $(tab_content).addClass('active');
            });
        });
    </script>
    </body>

    {# Main Section #}
{% endblock content %}
