{% extends 'base.html' %}
{% block title %}Home NIT ADDA{% endblock title %}
{% load static %}
{% block content3 %}"../media/{{ user.image }}"{%  endblock content3 %}
{% block content %}
    <head>
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $('select#selectCourse1').change(function () {
                    let optionSelected = $(this).find("option:selected");
                    {#let valueSelected  = optionSelected.val();#}
                    let course_name = optionSelected.text();
                    console.log("Course selected is :", course_name);
                    $.ajax({
                        url: "/content/getSubjects/",
                        type: "POST",
                        data: {'cn': course_name},
                        success: function (subjects) {
                            console.log("ha bhai");
                            $("#selectSubject1 option").remove();
                            $("#selectSubject1").append("<option selected disabled>Choose subject</option>");
                            for (var i = subjects.length - 1; i >= 0; i--) {
                                {
                                    console.log(subjects[i].id + "   ");
                                }
                                $("#selectSubject1").append("<option value=" + subjects[i].id + ">" + subjects[i].title + "</option>");
                            }
                        }
                    });
                });
            });

            $(document).ready(function () {
                $('select#selectCourse2').change(function () {
                    let optionSelected = $(this).find("option:selected");
                    {#let valueSelected  = optionSelected.val();#}
                    let course_name = optionSelected.text();
                    console.log("Course selected is :", course_name);
                    $.ajax({
                        url: "/content/getSubjects/",
                        type: "POST",
                        data: {'cn': course_name},
                        success: function (subjects) {
                            console.log("ha bhai");
                            $("#selectSubject2 option").remove();
                            $("#selectSubject2").append("<option selected disabled>Choose subject</option>");
                            for (var i = subjects.length - 1; i >= 0; i--) {
                                {
                                    console.log(subjects[i].id + "   ");
                                }
                                $("#selectSubject2").append("<option value=" + subjects[i].id + ">" + subjects[i].title + "</option>");
                            }
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
    {% if messages %}
        {% for mes in messages %}
            <div class="alert alert-success message_container">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ mes }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container" style="min-width:min-content;margin-bottom: 8%">
        <div class=" md-3" style="margin-top:3%;">
            <caption><h3 class="table_title">Upload Notes</h3></caption>
            <div class=" sm-3 ">
                <div id="uploadForm" class="well well-lg">
                    <div class="tabs">
                        <h3 class="signup-tab"><a class="active" href="#signup-tab-content">Upload Notes</a></h3>
                        <h3 class="login-tab"><a href="#login-tab-content">Upload Papers</a></h3>
                    </div>
                    <div class="tabs-content">
                        <div id="signup-tab-content" class="active">
                            <form method="POST" action="/content/upload/" enctype="multipart/form-data"
                                  onsubmit="return validateForm();">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="formText" for="nt">Note Title</label>
                                    <input for="firstName" class="form-control" name="title" id="nt" required>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="selectCourse1">Select Course</label>
                                    <select class="form-control" id="selectCourse1" name="courses" required>
                                        <option selected disabled>Choose course</option>
                                        {% for course in courses %}
                                            <option value="{{ course.id }}">
                                                {{ course.title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="selectSubject1">Select Subject</label>
                                    <select class="form-control" id="selectSubject1" name="subjects" required>
                                        <option selected disabled>Choose subject</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="lastName">Select File</label>
                                    <input for="lastName" class="form-control" type="File" name="files" id="upload"
                                           required>
                                </div>
                                <center>
                                    <button type="submit" id="btn" class="formButton">Upload</button>
                                </center>
                            </form>
                        </div>
                        <div id="login-tab-content">
                            <form method="POST" action="/content/upload/" enctype="multipart/form-data"
                                  onsubmit="return validateForm();">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="formText" for="">Select Course</label>
                                    <select class="form-control" id="selectCourse2" name="courses" required>
                                        <option selected disabled>Choose course</option>
                                        {% for course in courses %}
                                            <option value="{{ course.id }}">
                                                {{ course.title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="">Select Subject</label>
                                    <select class="form-control" id="selectSubject2" name="subjects" required>
                                        <option selected disabled>Choose subject</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="selectBatch">Select batch year</label>
                                    <select class="form-control" id="selectBatch" name="batch" required>
                                        <option selected disabled>Choose Batch year</option>
                                        <option>2013 - 2016</option>
                                        <option>2016 - 2019</option>
                                        <option>2019 - 2022</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="">Select Semester</label>
                                    <select class="form-control" id="selectSemester" name="semesters" required>
                                        <option selected disabled>Choose Semester</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="">Select Exam</label>
                                    <select class="form-control" id="selectExams" name="exams" required>
                                        <option selected disabled>Choose Type</option>
                                        <option value="min1">Minor-1</option>
                                        <option value="min2">Minor-2</option>
                                        <option value="mid">Mid-sem</option>
                                        <option value="end">End-sem</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="formText">Exam type :</label>
                                    <label class="formText" for="theory">Theory
                                        <input type="radio" name="type" id="theory" value="Theory" >
                                    </label>

                                    <label class="formText" for="practical">Practical
                                        <input type="radio" name="type" id="practical" value="Practical" >
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="formText" for="">Select File</label>
                                    <input for="lastName" class="form-control" type="File" name="files" id="upload"
                                           required>
                                </div>
                                <center>
                                    <button type="submit" id="btn" class="formButton">Upload</button>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function ($) {
            tab = $('.tabs h3 a');

            tab.on('click', function (event) {
                event.preventDefault();
                tab.removeClass('active');
                $(this).addClass('active');

                tab_content = $(this).attr('href');
                $('div[id$="tab-content"]').removeClass('active');
                $(tab_content).addClass('active');
            });
        });
    </script>
    </body>

    {# Main Section #}
{% endblock content %}
