{% extends 'base.html' %}
{% block title %}Home NIT ADDA{% endblock title %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">

        <script type="text/javascript" src="
https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

    </head>
    <body>
    <div class="row main_header">
        <!-- <center><h2><b>Registration</b></h2></center>
         <br>-->
    </div>

    <div class="container">
        <caption><h3 class="table_title">Courses</h3></caption>
        <div class="row">
            <table class="table table-striped table-responsive-md" id="example">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">S. No</th>
                    <th scope="col">Title</th>
                </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>
                        <td style="vertical-align:middle">{{ forloop.counter }}</td>
                        <td style="vertical-align:middle"><a href="shownote/{{ course.id }}">{{ course.title }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    </body>
    <script>
        $(document).ready(function () {
            $('table.table').DataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "bAutoWidth": false
            });
        });


    </script>
    {# Main Section #}
{% endblock content %}
