{% extends 'base.html' %}
{% block title %}Home NIT ADDA{% endblock title %}
{% load static %}
{% block content3 %}"../media/{{ user.image }}"{% endblock content3 %}
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">

        <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
        <style>

            {#.button1 {#}
            {#    background-color: white; /* Green */#}
            {#    border: none;#}
            {#    color: white;#}
            {#    text-align: center;#}
            {#    text-decoration: none;#}
            {#    display: inline-block;#}
            {#    font-size: 16px;#}
            {#    cursor: pointer;#}
            {#    background-color: transparent;#}
            {#    color: black;#}
            {##}

            {#svg {#}
            {#    display: inline-block;#}
            {##}
            {#    position: relative;#}
            {#    left: 50%;#}
            {#    -webkit-transform: translate(-50%);#}
            {#    -ms-transform: translate(-50%);#}
            {#    transform: translate(-50%);#}
            #}#}
        </style>
        {#    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>#}
    </head>
    <body class="main_body">
    <ul class="sideMenu">
            <li class="sideTab">
                <a style=" background-color: #fd4d40;">
                    <span class="icon-home"><i class="fa fa-fw fa-lg fa-edit faa-tada faa-fast"></i></span>
                    Notes</a>
            </li>
            <li class="sideTab">
                <a style="background-color: #fdb62f;">
                    <span class="icon-person"><i class="fa fa-fw fa-lg fa-file-powerpoint-o faa-tada faa-fast"></i></span>
                Previous Year Papers</a></li>
            <li class="sideTab">

                <a style="background-color: dodgerblue;">
                    <span class="icon-cog"><i class="fa fa-fw fa-lg fa-book faa-tada faa-fast"></i></span>
                    Books</a></li>
        </ul>
    <div class="container" style="clear: both">
        <caption><h3 class="table_title">{{ data.0.0.course }} Notes</h3></caption>
        <div class="row">
            <table class="table table-striped table-responsive-md" id="example">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Likes</th>
                    {% if user.is_authenticated and user.is_superuser %}
                        <th scope="col">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for i, j, k in data %}
                    {% if  user.is_authenticated and user.is_superuser or i.is_approved %}
                        <tr>

                            <td style="vertical-align:middle"><a style="font-weight: bold"
                                                                 href="../shownotes/{{ i.note_id }}">{{ i.title }}</a>
                                <br>
                                <span class="ref"> - contributed by <b>{{ k }}</b></span>
                            </td>
                            <td style="vertical-align:middle"><span>{{ i.subject }}</span></td>
                            {#                    href = {% url 'upvote/ i.note_id / user.id ' %}#}
                            {% if  j %}
                                <td style="vertical-align:middle">
                                    <div class="like_grow" id="{{ i.note_id }}" onclick="updateVote( this.id )">
                                        <i id="{{ i.note_id }}1" class="fa fa-thumbs-up fa-2x like active"
                                           aria-hidden="true"></i>
                                    </div>
                                    <span class="likes_counter" style="font-family:'Amaranth'" id="{{ i.note_id }}2">
                                            {{ i.total_upvotes }}
                                        </span>
                                </td>
                            {% else %}
                                <td style="vertical-align:middle">
                                    <div class="like_grow" id="{{ i.note_id }}" onclick="updateVote( this.id )">
                                        <i id="{{ i.note_id }}1" class="fa fa-thumbs-up fa-2x like"
                                           aria-hidden="true"></i>
                                    </div>
                                    <span class="likes_counter" style="font-family:'Amaranth'" id="{{ i.note_id }}2">
                                        {{ i.total_upvotes }}
                                    </span>
                                </td>
                            {% endif %}
                            {% if user.is_authenticated and user.is_superuser %}
                                <td scope="col">
                                    {% if  i.is_approved %}
                                        <a class="btn">Approved</a>
                                    {% else %}
                                        <a href="../approvenote/{{ i.note_id }}" class="btn btn-danger">Approve</a>
                                    {% endif %}
                                    <a href="../deletenote/{{ i.note_id }}" class="btn btn-danger">Remove</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    </body>
    <script>
        $(document).ready(function () {
            $('table.table').DataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "aaSorting": [],
                "bAutoWidth": false,
            });
        });

        function updateVote(note_id) {
            console.log("note id value: " + note_id);

            $.ajax({
                url: "/content/upvote/",
                type: "POST",
                {#async: true,#}
                data: {'noteid': note_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                {#dataType: "json",#}
                success: function (data) {
                    if (data[0]) {
                        document.getElementById(data[1] + "2").innerHTML = parseInt(document.getElementById(data[1] + "2").innerHTML) - 1;
                        document.getElementById(data[1] + "1").classList.remove("active");
                        {#document.getElementById(data[1] + "3").classList.remove("active");#}
                    } else {
                        document.getElementById(data[1] + "1").classList.add("active");
                        {#document.getElementById(data[1] + "3").classList.rekmove("active");#}
                        document.getElementById(data[1] + "2").innerHTML = parseInt(document.getElementById(data[1] + "2").innerHTML) + 1;
                    }
                }
            });
        }

    </script>
    {# Main Section #}
{% endblock content %}