{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}HOME{% endblock title %} | NIT ADDA</title>
    {% block head_favicon %}
        <link rel="icon" type="image/png"
              href="{% static 'images/favicon.ico' %}">
    {% endblock head_favicon %}
    {% block head_meta %}
        {% block head_meta_charset %}
            <meta http-equiv="Content-Type"
                  content="text/html; charset=utf-8"/>
        {% endblock head_meta_charset %}
        {% block head_meta_contentlanguage %}
            <meta http-equiv="Content-Language" value="en-US"/>
        {% endblock head_meta_contentlanguage %}
        {% block head_meta_viewport %}
            <meta name="viewport"
                  content="width=device-width, initial-scale=1.0">
        {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    {% block head_css %}
        {% block head_css_site %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <!--FONT AWESOME CDN LINK FOR FONT-AWESOME FONT -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <link href="https://fonts.googleapis.com/css?family=Amarante|Amaranth&display=swap" rel="stylesheet">
        {% endblock head_css_site %}
        {% block head_css_section %}{% endblock head_css_section %}
        {% block head_css_page %}{% endblock head_css_page %}
    {% endblock head_css %}
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function (e) {
            if (!e.target.matches('.dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                {# TO DO #}
                {#if (myDropdown.classList.contains('show')) {#}
                {#    myDropdown.classList.remove('show');#}
                {# }#}
            }
        }
        {#   dsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa #}
        $(document).ready(function () {
            $('#mynav > li').on('click', function (e) {
                console.log("here ")
                actives = document.getElementsByClassName('active');
                for (i = 0; i < actives.length; i++) {
                    console.log("At i= " + i + " val=" + actives[i].innerHTML);
                }
                $('#mynav>li.active').removeClass('active');
                $(this).addClass('active');
            });
        });
        {# dropdown slide down #}
        $(document).ready(function () {
            $('.navbar .menu_dropdown').hover(function () {
                $(this).find('.dropdown-content').first().stop(true, true).slideDown(200);
            }, function () {
                $(this).find('.dropdown-content').first().stop(true, true).slideUp(150)
            });
        });
    </script>
</head>
<body style="background: #232323;">
<header>
    <nav style="margin-bottom: 50px; background-color:#fff;font-size: 14px;z-index: 1000;"
         class="navbar navbar-static-top navbar-light bg-faded ">
        <div class="container-fluid">
            <a id="nitadda" href="#" class="navbar-brand faa-pulse faa-slow animated" data-toggle="popover"
               data-trigger="focus" data-html="true" data-placement="bottom">
                <i class="fa fa-lg"><strong><span style="font-family: 'Product Sans',sans-serif;font-size:40px;"><span
                        class="g-blue">N</span><span
                        class="o-red">i</span><span class="d-yellow">t</span><span class="g-blue">A</span><span
                        class="l-green">d</span><span class="o-red e-red">d</span><span
                        class="o-yellow">a </span></span></strong></i>
            </a>
            <div class="navbar-header">
                <a class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse">
                    <i class="fa fa-chevron-down faa-vertical animated"></i>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="mynav" class="nav navbar-nav">
                    <li class="active" {% if request.path == '/' %}style="background: #E7E7E7"{% endif %}>
                        <a class="faa-parent animated-hover" href="/">
                            <i class="fa fa-fw fa-lg fa-home faa-tada faa-fast"></i>Home
                        </a>
                    </li>
                    <li>
{#                        <a class="faa-parent animated-hover" href="#about">#}
{#                            <i class="fa fa-fw fa-lg fa-info-circle faa-tada faa-fast"></i>About#}
{#                        </a>#}
                    </li>
                    {% if user.is_authenticated and user.is_superuser %}
                        <li {% if request.path == '/content/add_course' %}style="background: #E7E7E7"{% endif %}>
                            <a class="faa-parent animated-hover" href="/content/add_course">
                                <i class="fa fa-fw fa-lg fa-graduation-cap faa-tada faa-fast"></i>Add Course
                            </a>
                        </li>
                        <li {% if request.path == '/content/add_subject' %}style="background: #E7E7E7"{% endif %}>
                            <a class="faa-parent animated-hover" href="/content/add_subject">
                                <i class="fa fa-fw fa-lg fa-book faa-tada faa-fast"></i>Add Subject
                            </a>
                        </li>
                    {% endif %}
                    <li {% if request.path == '/content/all_course' %}style="background: #E7E7E7"{% endif %}>
                        <a href="/content/all_course" class="faa-parent animated-hover">
                            <i class="fa fa-fw fa-lg fa fa-graduation-cap faa-tada faa-fast"></i>Browse Courses
                        </a>
                    </li>
                    <li {% if request.path == '/content/all_subject' %}style="background: #E7E7E7"{% endif %}>
                        <a href="/content/all_subject" class="faa-parent animated-hover">
                            <i class="fa fa-fw fa-lg fa fa-book faa-tada faa-fast"></i>Browse Subjects
                        </a>
                    </li>
                    <li {% if request.path == '/content/upload/' %}style="background: #E7E7E7"{% endif %}>
                        <a class="faa-parent animated-hover" href="/content/upload/">
                            <i class="fa fa-fw fa-lg fa fa-upload faa-tada faa-fast"></i>Upload
                        </a>
                    </li>
                    <li {% if request.path == '/content/meetOurTeam/' %}style="background: #E7E7E7"{% endif %}>
                        <a class="faa-parent animated-hover" href="/content/meetOurTeam/">
                            <i class="fa fa-fw fa-lg fa-info-circle faa-tada faa-fast"></i>About Us
                        </a>
                    </li>
                    {% if user.is_authenticated and user.is_superuser %}
                        <li {% if request.path == '/inbox' %}style="background: #E7E7E7"{% endif %}>
                        <a href="/inbox" class="faa-parent animated-hover">
                            <i class="fa fa-fw fa-lg fa fa-envelope faa-tada faa-fast"></i>Inbox
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <ul id="rightnav" class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><img style="border-radius: 50%; float: right; margin-top: 6px"
                                 src={% block content3 %}"media/{{ user.image }}"{% endblock content3 %} height="40px"
                                 width="40px"></li>
                        <li {% if request.path == '/profile/' %}style="background: #E7E7E7"{% endif %}>
                            <a class="faa-parent animated-hover" href="/profile">
                                Hi, {{ user.username|title }}
                            </a>
                        </li>
                        <li>
                            <a class="faa-parent animated-hover" href="/content/logout">
                                <i class="fa fa-fw fa-lg fa-sign-out  faa-tada faa-fast"></i>Logout
                            </a>
                        </li>
                    {% else %}
                        <li {% if request.path == '/content/login/' %}style="background: #E7E7E7"{% endif %}>
                            <a class="faa-parent animated-hover" href="/content/login">
                                <i class="fa fa-fw fa-lg fa-sign-in faa-tada faa-fast"></i>Login
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

{% block content %}
    MAIN CONTENT FOR PROJECT
{% endblock content %}

{% block content1 %}

{% endblock content1 %}

<footer class="site-footer">
    <div class="container">
        <div class=" text-center row">
            <div class="col-sm-12 col-md-6">
                <h6 id="about">About</h6>
                <p class="text-justify">Nitadda.com is an initiative to help the students to get note, previous year
                    examination papers and schedule for various events and many other notifications .NITADDA focuses on
                    providing students all the help they need to score well in their academics as well for their
                    practical projects.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Browse By </h6>
                <ul class="footer-links">
                    <li><a href="">Courses</a></li>
                    <li><a href="">Subjects</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>We Offer</h6>
                <ul class="footer-links">
                    <li><a href="">Notes</a></li>
                    <li><a href="">Books</a></li>
                    <li><a href="">Previous Year Papers</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">NITADDA</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>

{% block footer_javascript %}
    {% block footer_javascript_site %}
        <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    {% endblock footer_javascript_site %}
    {% block footer_javascript_section %}{% endblock footer_javascript_section %}
    {% block footer_javascript_page %}{% endblock footer_javascript_page %}
{% endblock footer_javascript %}
</html>


