{% extends 'base.html' %}
{% block title %}Home NIT ADDA{% endblock title %}
{% load static %}
{% block content %}
    <head>
        <script src="https://kit.fontawesome.com/57456f662e.js" crossorigin="anonymous"></script>
    </head>
    <body>
    {% if messages %}
        {% for mes in messages %}
            <div class="alert alert-success message_container">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ mes }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="site-section">
        <div class="container">

            <div class="searchinput">
                <form method="get" action="search/">
                <input type="text" name="q" placeholder=" Search NitAdda . . ." class="text" required>
                <button type="submit"  class="formButton"><i class="fas fa-search"></i></button>
              </form>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div id="redBlock" class="block-2 red">
              <span class="wrap-icon">
                <span class="icon-home"><i class="fa fa-fw fa-lg fa-edit faa-tada faa-fast"></i></span>
              </span>
                        <h2>Notes</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim
                            id culpa.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div id="yellowBlock" class="block-2 yellow">
              <span class="wrap-icon">
                <span class="icon-person"><i class="fa fa-fw fa-lg fa-file-powerpoint-o faa-tada faa-fast"></i></span>
              </span>
                        <h2>Previous Year Papers</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim
                            id culpa.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div id="tealBlock" class="block-2 teal">
              <span class="wrap-icon">
                <span class="icon-cog"><i class="fa fa-fw fa-lg fa-book faa-tada faa-fast"></i></span>
              </span>
                        <h2>Books</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim
                            id culpa.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="min-width:min-content;margin-bottom: 8%">
        <div class="row" style="margin: 0%;">
            <caption><h3 class="table_title" style="color: #F9F9F9">Recently Uploaded Notes</h3></caption>
            <table class="table table-striped table-responsive-md" id="example">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Subject</th>
                {% if  user.is_authenticated %}
                    <th scope="col">Likes</th>
                {% endif %}
                    {% if user.is_authenticated and user.is_superuser %}
                        <th scope="col">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% if not data %}
                    <h3>No data</h3>
                {% endif %}
                {% for i, j, k in data %}
                    {% if  user.is_authenticated and user.is_superuser or i.is_approved %}
                        <tr>
                            <td style="vertical-align:middle"><a style="font-weight: bold"
                                                                 href="content/view/{{ i.note_id }}">{{ i.title }}</a>
                                <br>
                                <span class="ref"> - contributed by <b>{{ k|title }}</b></span>
                            </td>
                            <td style="vertical-align:middle"><span>{{ i.subject|title }}</span></td>
                            {% if  user.is_authenticated %}
                                {% if  j %}
                                    <td style="vertical-align:middle">
                                        <div class="like_grow" id="{{ i.note_id }}" onclick="updateVote( this.id )">
                                            <i id="{{ i.note_id }}1" class="fa fa-thumbs-up fa-2x like active"
                                               aria-hidden="true"></i>
                                        </div>
                                        <span class="likes_counter" style="font-family:'Amaranth'" id="{{ i.note_id }}2">
                                                {{ i.total_upvotes }}
                                            </span>
                                    </td>
                                    {% else %}
                                    <td style="vertical-align:middle">
                                        <div class="like_grow" id="{{ i.note_id }}" onclick="updateVote( this.id)">
                                            <i id="{{ i.note_id }}1" class="fa fa-thumbs-up fa-2x like"
                                               aria-hidden="true"></i>
                                        </div>
                                        <span class="likes_counter" style="font-family:'Amaranth'" id="{{ i.note_id }}2">
                                            {{ i.total_upvotes }}
                                        </span>
                                    </td>
                                   {% endif %}
                            {% endif %}
                            {% if user.is_authenticated and user.is_superuser %}
                                <td scope="col">
                                    {% if  i.is_approved %}
                                        <a class="btn">Approved</a>
                                    {% else %}
                                        <a href="content/approvenote/{{ i.note_id }}" class="btn btn-danger">Approve</a>
                                    {% endif %}
                                    <a href="content/deletenote/{{ i.note_id }}" class="btn btn-danger">Remove</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid">
        <div class="contact-parent">
            <div class="contact-child child1">
                <p>
                    <i class="fas fa-map-marker-alt"></i> Address <br/>
                    <span> NIT Warangal
                                <br/>
                               Telangana, India
                            </span>
                </p>

                <p>
                    <i class="fas fa-phone-alt"></i> Let's Talk <br/>
                    <span> 07983713217</span>
                </p>

                <p>
                    <i class=" far fa-envelope"></i> General Support <br/>
                    <span>hello@nitadda.in</span>
                </p>
            </div>

            <div class="contact-child child2" style="background: floralwhite">

                <div style="width: 100%" id="uploadForm" class="well well-lg">
                    <caption><h3 class="table_title" style="color: #232323;">Contact Us</h3></caption>
                    <form method="POST" action="/contact_us/" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="formText" for="fn">Name</label>
                            <input class="form-control" name="fullName" id="fn" required>
                        </div>
                        <div class="form-group">
                            <label class="formText" for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                        <div class="form-group">
                            <label class="formText" for="phone">Phone</label>
                            <input class="form-control" name="phone" id="phone" required>
                        </div>
                        <div class="form-group">
                            <label class="formText" for="subject">Subject</label>
                            <input class="form-control" name="subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label class="formText" for="message">Message</label>
                            <textarea rows="6" cols="30" class="form-control" name="message" id="message"
                                      required></textarea>
                        </div>
                        <center>
                            <button type="submit" id="btn" class="formButton">Send</button>
                        </center>
                    </form>
                    <br>

                </div>

            </div>
        </div>
    </div>
    {# Main Section #}
{#{% endblock content %}#}
{#{% block content1 %}#}
    </body>
    <script>
        $(document).ready(function () {
            $('table.table').DataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "aaSorting": [],
                "bAutoWidth": false,
            });
         });

        function updateVote(note_id, user_is_logged) {
            console.log("note id value: " + note_id);
            $.ajax({
                url: "/content/upvote/",
                type: "POST",
                {#async: true,#}
                data: {'noteid': note_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                {#dataType: "json",#}
                success: function (data) {
                    console.log("data[0] value: " + data[0]);
                    if (data[0]) {
                        console.log("if");
                        console.log("id : " + data[1]);
                        if(document.getElementById(data[1] + "2"))
                            document.getElementById(data[1] + "2").innerHTML = parseInt(document.getElementById(data[1] + "2").innerHTML) - 1;
                        if(document.getElementById(data[1] + "1"))
                            document.getElementById(data[1] + "1").classList.remove("active");
                        {#document.getElementById(data[1] + "3").classList.remove("active");#}
                    } else {
                        console.log("else");
                        document.getElementById(data[1] + "1").classList.add("active");
                        {#document.getElementById(data[1] + "3").classList.rekmove("active");#}
                        document.getElementById(data[1] + "2").innerHTML = parseInt(document.getElementById(data[1] + "2").innerHTML) + 1;
                    }
                }
            });
        }
    </script>

{% endblock content %}