{% extends 'base.html' %}
{% block title %}Home NIT ADDA{% endblock title %}
{% load static %}
{% block content3 %}"../media/{{ user.image }}"{%  endblock content3 %}
{% block content %}
    <head>
        <script src="https://kit.fontawesome.com/57456f662e.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            // messages timeout for 10 sec
            setTimeout(function () {
                $('.message_container').fadeOut('slow');
            }, 10000);
        });
    {#    starts  #}
    {#    ends  #}
    </script>
    </head>
    <body>
        {% if messages %}
            {% for mes in messages %}
                <div class="alert alert-success message_container">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ mes }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <div class="site-section">
            <!-- about -->
{#            <div  class="about">#}
{#               <a class="bg_links social portfolio" href="https://www.rafaelalucas.com/dailyui" target="_blank">#}
{#                  <span class="icon"></span>#}
{#               </a>#}
{#               <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">#}
{#                  <span class="icon"></span>#}
{#               </a>#}
{#               <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">#}
{#                  <span class="icon"></span>#}
{#               </a>#}
{#               <a class="bg_links logo"></a>#}
{#            </div>#}
            <!-- end about -->

            <div class="wrapper">

               <section class="module-team">

                  <div  class="team">
                     <h2 class="title">Meet our Team</h2>
                     <div style="" class="team-cards">

                        <!-- Slider main container -->
                        <div class="swiper-container">
                           <!-- Additional required wrapper -->
                           <div class="swiper-wrapper">
                               <div class="swiper-slide">
                                    <div class="card">
                                        <span class="bg"></span>
                                        <span class="more"></span>
                                        <figure class="photo"><img src="{%  static 'images/him.jpg' %}"></figure>
                                            <article class="text2">
                                                <p class="name">Himanshu Chaudhary</p>
                                                <p class="role">Developer/UI Designer</p>
                                                <p class="desc">lamba chauda description</p>
                                            </article>

                                            <div class="social">
{#                                            <span class="pointer"></span>#}
                                            <div class="icons">
                                                <a class="icon" href="" target="_blank" data-index="1">
                                                    <img src="https://rafaelalucas.com/dailyui/6/assets/email.svg"></a>
                                                <a class="icon" href="" target="_blank" data-index="2">
                                                    <img src="https://rafaelalucas.com/dailyui/6/assets/linkedin.svg"></a>
                                                <a class="icon" href="" target="_blank" data-index="3">
                                                    <img src="https://rafaelalucas.com/dailyui/6/assets/dribble.svg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               <div class="swiper-slide">
                                    <div class="card">
                                        <span class="bg"></span>
                                        <span class="more"></span>
                                        <figure class="photo"><img src="{%  static 'images/tqr.jpg' %}"></figure>
                                            <article class="text2">
                                                <p class="name">Touqeer Pathan</p>
                                                <p class="role">Developer/UI Designer</p>
                                                <p class="desc">aur lamba chauda description</p>
                                            </article>

                                            <div class="social">
{#                                            <span class="pointer"></span>#}
                                            <div class="icons">
                                                <a class="icon" href="" target="_blank" data-index="1">
                                                    <img src="https://rafaelalucas.com/dailyui/6/assets/email.svg"></a>
                                                <a class="icon" href="" target="_blank" data-index="2">
                                                    <img src="https://rafaelalucas.com/dailyui/6/assets/linkedin.svg"></a>
                                                <a class="icon" href="" target="_blank" data-index="3">
                                                    <img src="https://rafaelalucas.com/dailyui/6/assets/dribble.svg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           </div>

                        </div>
                     </div>

                  </div>

            </section>
            </div>
        </div>
    </body>
{% endblock content %}