{% extends 'base.html' %}
{% block title %}Home NIT ADDA{% endblock title %}
{% load static %}
{% block content3 %}"../media/{{ user.image }}"{% endblock content3 %}
{% block content %}
    <div class="row main_header">
        <!-- <center><h2><b>Registration</b></h2></center>
         <br>-->
    </div>

    {% if messages %}
        {% for mes in messages %}
            <div class="alert alert-warning message_container">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ mes }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <section class="our-team-section">
        <div class="container">
            <h2 class="title text-center" style="color: #4e5052">Meet our Team</h2>
            <div class="row" id="team1" style="margin: 0 auto">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="our-team">
                        <div class="pic">
                            <img src="{% static 'images/him.jpg' %}" width="300px" height="300px">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Himanshu Chaudhary</h3>
                            <span class="post">Developer/UI Designer</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank" class="fa fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-linkedin"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="our-team">
                        <div class="pic">
                            <img src="{% static 'images/tqr.jpg' %}">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Touqeer Pathan</h3>
                            <span class="post">Developer/UI Designer</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-linkedin"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
