{% extends 'base.html' %}
{% block title %}Home NIT ADDA{% endblock title %}
{% load static %}
{% block content3 %}"../media/{{ user.image }}"{%  endblock content3 %}
{% block content %}
    <head>
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $('select#selectCourse').change(function () {
                    let optionSelected = $(this).find("option:selected");
                    {#let valueSelected  = optionSelected.val();#}
                    let course_name = optionSelected.text();
                    console.log("Course selected is :", course_name);
                    $.ajax({
                        url: "/content/getSubjects/",
                        type: "POST",
                        data: {'cn': course_name},
                        success: function (subjects) {
                            console.log("ha bhai");
                            $("#selectSubject option").remove();
                            $("#selectSubject").append("<option selected disabled>Choose subject</option>");
                            for (var i = subjects.length - 1; i >= 0; i--) {
                                {
                                    console.log(subjects[i].id + "   ");
                                }
                                $("#selectSubject").append("<option value=" + subjects[i].id + ">" + subjects[i].title + "</option>");
                            }
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
    <div class="row main_header">
        <!-- <center><h2><b>Registration</b></h2></center>
         <br>-->
    </div>

    <div class="container">

        <div class=" md-3" style="margin-top:3%;">
            <caption><h3 class="table_title">Upload Notes</h3></caption>
            <div class=" sm-3 ">
                <div id="uploadForm" class="well well-lg">
                    <form method="POST" action="/content/upload_note/" enctype="multipart/form-data"
                          onsubmit="return validateForm();">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="formText" for="firstName">Note Title</label>
                            <input for="firstName" class="form-control" name="title" id="fn" required>
                        </div>
                        <div class="form-group">
                            <label class="formText" for="course">Select Course</label>
                            <select class="form-control" id="selectCourse" name="courses" required>
                                <option selected disabled>Choose course</option>
                                {% for course in courses %}
                                    <option value="{{ course.id }}">
                                        {{ course.title }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="formText" for="course">Select Subject</label>
                            <select class="form-control" id="selectSubject" name="subjects" required>
                                <option selected disabled>Choose subject</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="formText" for="lastName">Select File</label>
                            <input for="lastName" class="form-control" type="File" name="files" id="upload" required>
                        </div>
                        <center>
                            <button type="submit" id="btn" class="btn btn-info btn-md">Save</button>
                        </center>
                    </form>
                    <br>

                </div>
            </div>
        </div>
    </div>

    </body>

    {# Main Section #}
{% endblock content %}
